*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#id-one{
    background-color: rgb(66, 150, 150);
   
}
.container{
    width: 1200px;
    margin: 0 auto;
}
.left-class ul{
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.left-class ul a{
text-decoration: none;
color: rgb(175, 248, 39);
}
/* responsive */



 @media only screen and (max-width: 600px) and (min-width: 300px) {
    .left-class ul{
        list-style: none;
        gap: 40px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .left-class ul a{
        text-decoration: none;
        color: rgb(175, 248, 39);
        }
        .container{
            width: 100%;
            margin: 0 auto;
        }
  }
  
 
 @media only screen and (max-width: 991px) and (min-width: 600px) {
    .left-class ul{
        list-style: none;
        gap: 40px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .left-class ul a{
        text-decoration: none;
        color: rgb(238, 29, 1);
        }
        .container{
            width: 100%;
            margin: 0 auto;
        }
        #id-one{
            background-color: rgb(165, 0, 110);
           
        }
  }
 